{% extends 'layout/base.html' %} 
{% block content %}
    <main>
        <!-- Displays a 404 error -->
        <div class="container">
            <div class="surround mt-3 mb-3">
                <div class="card text-center">
                    
                    <header class="card-header bg-brown">
                        <h1>Page Not Found</h1>
                    </header>
                    
                    <div class="card-body text-center p-4">
                        <a href="{% url 'job_list' %}" class="btn btn-primary btn-large mb-3">Back to Home</a>
                        <figure class="text-center">
                            <figcaption>
                                <h2 class="mb-3">Whoops!</h2>
                                <p>Where did you go wrong?</p>
                                <p>Click the above button to start over.</p>
                            </figcaption>
                            <img id="jaguar" src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922639/jaguar-logo-left_y2p0od_ljgjhb.png" alt="Baby Jaguar mascot">
                        </figure>
                    </div>
                            <!-- decorative only -->
                    <div class="card-footer bg-brown"></div>
                </div>
            </div>
        </div>   
    </main>
{% endblock %}