{% extends 'layout/base.html' %} 
{% block content %}

    <main>
        <!-- Displays a 500 error -->
        <div class="container">
            <div class="surround mt-3 mb-3">
                <div class="card text-center">
                    
                    <header class="card-header bg-brown">
                        <h1>Server Error! (500)</h1>
                    </header>
                    
                    <div class="card-body text-center p-4">
                        <a href="{% url 'job_list' %}" class="btn btn-primary btn-large mb-3">Back to Safety</a>
                        <figure class="text-center">
                            <figcaption>
                                <h2 class="mb-3">What did you do?</h2>
                                <p>Thats it you broke it! Please use the above button to reset the server and be more careful next time.</p>
                                <p>If you are simply trying to sneak a peek at the memebr only areas by using a URL, we applaude your cunning!</p>
                                <p>That said, please do consider <a href="{% url 'account_login' %}" aria-label="Login to you account">logging in </a> or <a href="{% url 'account_signup' %}" aria-label="register for the site">signing up</a> instead.</p>
                            </figcaption>
                            <img id="jaguar" src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922639/jaguar-logo-left_y2p0od_ljgjhb.png" alt="Baby Jaguar mascot">
                        </figure>
                    </div>
                            <!-- decorative only -->
                    <div class="card-footer bg-brown"></div>
                </div>
            </div>
        </div>
        
    </main>

{% endblock %}