{% extends 'layout/base.html' %}
{% block content %}
    <div>
        {% include "../layout/add-job-hero.html" %}
    </div>
    
    <main>

        <div class="text-center bg-brown p-1 border-bottom border-top mb-3">    
            <h1 class="text-center">Add a Job Post.</h1>
        </div>
    
        {% include '../components/messages.html' %}

        <div class="container">
            <!-- Add job for and surrond -->
            <div class="surround mb-3">
                <div class="form-container">

                    <form method="post">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        {% for field in form %}
                            {% if filed == form.job_description %}
                                {% render_field field %}
                            {% else %}
                                <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <!-- form controls -->
                        <div class="mt-3 text-center">
                            <p class="fs-6">
                                <strong>*</strong> All jobs added will be public for the community. 
                            </p>
                            <a href="{% url 'job_list' %}" class="btn btn-secondary btn-lg">Cancel</a>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}