{% extends 'layout/base.html' %}
{% block content %}
    <div>
        {% include "../layout/add-job-hero.html" %}
    </div>
    
    <main>

        <div class="text-center bg-brown p-1 border-bottom border-top mb-3">    
            <h1 class="text-center">Add a Job Post</h1>
        </div>
    
        {% include '../components/messages.html' %}

        {% if user.is_authenticated %}
            <div class="container">
                <!-- Add job form and surrond -->
                <div class="surround mb-3">
                    <div class="form-container">

                        <form method="post">
                            {% csrf_token %}
                            {% load widget_tweaks %}
                            {% for field in form %}
                            <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {% if field == form.job_description %}                                
                                    
                                    {% render_field field %}

                                {% else %}
                                    
                                    {% render_field field class="form-control" %}
                            
                                {% endif %}
                            </div>    
                            {% endfor %}

                            <!-- form controls -->
                            <div class="mt-3 text-center">
                                <p class="fs-6">
                                    <strong>*</strong> Once approved by our admin team, all jobs added will be public for the community. 
                                </p>
                                <a href="{% url 'job_list' %}" class="btn btn-secondary btn-lg">Exit</a>
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        {% else %}
                
            <!-- when not logged in a message to invite user to sign up or log in -->
            {% include '../layout/non-member.html' %} 

        {% endif %}
    </main>
{% endblock %}