{% extends 'layout/base.html' %}
{% block content %}

    <main>    
        <h1 class="text-center">{% if title == 'Add an Insight' %} Create an insight {% elif title == 'Edit Insight'%} Edit your insight {% endif %}</h1>
        <div class="container form-container">
            <form method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                
                <div class="form-group {% if form.errors %} alert alert-danger {% endif %}">
                    {{ form.errors }}
                    {{ form.short_description.label_tag }}
                    {% render_field form.short_description class="form-control" %}
                    {{ form.note.label_tag }}
                    {% render_field form.note class="form-control" %}
                    
                </div>                        
                
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}