{% extends 'layout/base.html' %}
{% block content %}

    <div>
        {% include "../layout/insights-hero.html" %}
    </div>    
    <main>

        <div class="text-center bg-brown p-1 border-bottom border-top mb-3">
            <h1>Insights</h1>
        </div>
        
        <div class="text-center mb-2">
            {% include "../components/go-to-instructions.html" %}
        </div>


        <!-- Allows user to access form for making isights not linked to a specific job post -->
        <div class="text-center mb-3">
            <a href="{% url 'add_insight' %}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add insight</a>
        </div>

        {% include '../components/messages.html' %}

        <!-- timeline to show insights adapted from https://www.w3schools.com/howto/howto_css_timeline.asp -->
        <div id="timeline" class="mb-3">
            {% for insight in insights %}
                <section class="insight-container {% if forloop.counter|divisibleby:2 %}right{% else %}left{%endif%}" data-insight-item="{{ insight.id }}">
                    <section class="insight-content">
                        <p class="text-muted {% if forloop.counter|divisibleby:2 %}text-start{% else %}text-end{%endif%}">{{ insight.date_created }}</p>
                        <h2 class="mb-3">{{ insight.short_description }}</h2>
                        {{ insight.note|safe }}

                        <!-- CRUD controls for insight entry -->
                        <a href="{% url 'edit_insight' insight.id %}" class="btn btn-success">Edit</a>
                        <button type="button" class="btn btn-danger delete-note-btn" data-id="{{ insight.id }}">Delete</button>
                    </section>
                </section>
            {% endfor %} 
        </div>

        {% include "../components/warning-modal.html" %}

    </main>

    {% include "../components/pagination.html" %}

{% endblock %}