{% extends 'layout/base.html' %}
{% block content %}
    <div>
        {% include "../layout/openings-hero.html" %}
    </div>    
    <main>
        <div class="text-center bg-brown p-1 border-bottom border-top mb-3">
            <h1>Job Openings</h1>
        </div>
        
        <div class="container-fluid">

            {% include "../components/go-to-instructions.html" %}
            
            {% if user.is_authenticated %}
                <div class="text-center mt-3">
                    <a href="{% url 'add_job' %}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Job</a>
                </div>
            {% endif %}
            
                <div class="row">
                
                <!-- Job preview column -->
                <div class="col-lg-12 mt-3">
                    <div class="row">   
                    {% for job in jobs %}
                        <div class="col-lg-4">
                            {% include "../components/job-preview-card.html" %}
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        {% include "../components/warning-modal.html" %}
        
    </main>
    {% include "../components/pagination.html" %}
{% endblock %}

