* {
    margin: 0;
    padding: 0;
}

.text-cream {
    color:#fffdd0
}

body {
    background-color: #e4b67c;
}

/* ------------------------------------------------------------ Header/Navbar */

.nav-padding{
    padding: 0 1rem 1rem;
}

.navbar-toggler {
    font-size: 30px;
}

#logo {
    width: 60px;
}

#logo-title{
    font-size: 2em;
}

nav, footer{
    background-color: #603f3f;
}

/* ------------------------------------------------------------ Job cards */
.card-header {
    background-color: #603f3f;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 0.25rem;
}

/* ------------------------------------------------------------ Footer */
footer {
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    display: inline;
}