@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
}

/* ------------------------------------------------------------ General styling */

.text-cream {
    color:#fffdd0
}

.text-center {
    text-align: center;
}

.bg-offwhite {
    background-color: #fafafa;
}

.bg-brown {
    background-color: #603f3f;
    color: #fffdd0;
}

.bg-pale-yellow {
    background-color: #fdfd96;
}

.page-background {
    background-color: #e4b67c;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.btn {
  border: 2px solid #000!important;
  font-weight: bolder;
}

.border-bottom {
  border-bottom: 3px solid #000!important;
}

.border-top {
  border-top: 3px solid #000!important;
}

.surround {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
  border-radius: 20px;
  border: 3px solid #000;
  padding: 5px;
}

#jaguar {
  width: 100%;
  max-width: 31.25rem;
}


/* ------------------------------------------------------------ Header/Navbar */

.nav {
  flex-direction: column;
}

.nav-padding{
    padding: 0 0.5rem 1rem;
}

.navbar-toggler {
    font-size: 1.875rem;
}
 
.nav-dropdown {
  border-radius: 12px;
  border: 3px solid #000;
}

.dropdown-item:hover{
    border-radius: 0.75rem;
    border: 1px solid #000;
    font-weight: bolder;
}

.nav-link.disabled {
  color:#f4a460;
}

.page-link:hover,
.nav-link:focus,
.nav-link:hover {
  background-color: #e4b67c;
  color: #000;
  font-weight: bolder;
}

#logo {
    width: 3.75rem;
}

#logo-title{
    font-family: 'Condiment', cursive;
    font-size: 2em;
}

ul {
  list-style-type: none;
}

/* ------------------------------------------------------------ Hero image styling */

.hero-container {
  overflow: hidden;
  position: relative;
  max-height: 31.25rem;
}

/* ------------------------------------------------------------ Main content styling (general) */

main {
  min-height: 80vh;
}

#instructions-link {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728,#fbf5b7 );
    border-radius: 10px;
    color: #000;
    font-size: 1.3rem;
    text-decoration: none;
}

#instructions-link:hover {
    background: linear-gradient(to right, #fbf5b7 ,#b38728,#fcf6ba,#bf953f);
    text-decoration: underline;
}

/* ------------------------------------------------------------ Add job form */

.form-container {
    background-color: #efefef;
    border: 2px solid #000;
    border-radius: 13px;
    margin: 0 auto;
    padding: 1rem;
}


/* ------------------------------------------------------------ Job card preview */

.card {
  border: 3px solid #000;
  border-radius: 13px! important;
}

.card-header {
  border-radius: 10px 10px 0 0! important;
}

.head-with-toggle {
    padding: .5rem 0.25rem;
}

.form-check-input {
  border: 2px solid #000! important;
}

.form-check-input:checked {
  background-color: #198754;
}

.card-footer {
  min-height: 3.125rem;
  border-radius: 0 0 10px 10px! important;
}

/* ----------------------------------------------------------------------------------------- Full Job details page */
#full-job-spec {
  margin: 0 auto
}

/* ------------------------------------------------------------ Full Job card */

#full-jobcard-heading {
    width: 100%;
}

/* ------------------------------------------------------------ Notes */

.note-heading {
    font-size: 1rem;
    width: 100%;
}

.note-muted-txt {
    --bs-text-opacity: 1;
    color: #e4b67c;
    font-size: 0.625rem;
    text-align: right;
}

.accordion-button:not(.collapsed) {
    color: #e4b67c;
    background-color: #603f3f;
}

.accordion-item:last-of-type,
.accordion-collapse,
.accordion-button.collapsed  {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* ------------------------------------------------------------ insights */

.marked-as {
    font-size: 0.75rem;
}


/* ----------------- insights timeline */

/* The actual timeline (the vertical ruler) */
#timeline {
    margin: 0 auto;
    position: relative;
  }
  
/* The actual timeline (the vertical ruler) */
#timeline::after {
  background-color: #fafafa;
  border: 1px solid #000;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 6px;
  top: 0;
}

/* Container around content */
.insight-container {
  padding: 0.625rem 2.5rem;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin: 0;
}

/* The circles on the timeline */
.insight-container::after {
  content: '';
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  right: -0.75rem;
  background-color: #fafafa;
  border: 4px solid #DE9F13;
  top: 0.9375rem;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.375rem;
  width: 0;
  z-index: 1;
  right: 1.875rem;
  border: medium solid #fafafa;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.375rem;
  width: 0;
  z-index: 1;
  left: 1.875rem;
  border: medium solid #fafafa;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.insight-content {
  border: 2px solid #000;
  padding: 1.25rem 1.875rem;
  background-color: #fafafa;
  position: relative;
  border-radius: 6px;
}

/* ------------------------------------------------------------ Warning Modal */
#warningModal {
  background-color: rgba(0,0,0,0.5);
}

.modal-header {
  border-radius: 14px 14px 0 0! important;
}

.modal-content {
  border: 0.125rem solid #000;
  border-radius: 17px;
}

.modal-footer {
  border-radius: 0 0 14px 14px! important;
}

/* ------------------------------------------------------------ Pagination bar */

.pagination {
  font-size: 14px;
  margin-bottom: 0!important;
  padding: 5px 0;
}

.page-link:hover {
  border: 1px solid #000;
}

.current {
  align-items: center;
  border: 1px solid #dee2e6;
  display: flex;
  padding: 0.375rem;
}

/* ------------------------------------------------------------ Footer */

footer {
    margin-top: auto;
    width: 100%;
}

.social-media {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding: 0.625rem 0;
}

.social-media-icon {
    display: inline;
}

/*------------------------------------------------- Media queries */
@media screen and (min-width: 360px) {
  .pagination {
    font-size: 1.125rem;
    padding: 10px 0;
  }
}

@media screen and (min-width: 575px) {
    .nav {
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1rem;
    }

    .nav-padding{
      padding: 0 0.25rem 1rem;
    }

    .btn {
      font-size: 1.3rem;
    }

    .pagination {
      font-size: 1.4375rem;
      padding: 0.9375rem 0;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timeline to the left */
    #timeline::after {
    left: 1.9375rem;
    }
    
    /* Full-width containers */
    .insight-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .insight-container::before {
    left: 60px;
    border: medium solid #fafafa;
    border-width: 10px 10px 10px 0;
    border-color: transparent #000 transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 18px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

@media screen and (min-width: 620px) {

  .nav-padding{
    padding: 0 0.5rem 1rem;
  }

  .savedjobs-hero-image,
  .insights-hero-image,
  .note-hero-image,
  .addjob-hero-image,
  .openings-hero-image {
    display: block !important;
  }

  .mob-hero-image{
    display: none;
  }

  .btn,
  #instructions-link {
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 768px) {

    body {
      font-size: 1.5rem;
    }

    .nav {
      font-size: 1.24rem;
    }

    .nav-padding{
      padding: 0 1rem 1rem;
    }

    #note-shortcut {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #logo-title {
      font-size: 3em;
    }

    #logo {
      width: 96px
    }

    .nav {
      font-size: 1.5rem;
    }

    .nav-padding{
      padding: 0 1.25rem 1rem;
    }

    .note-hero-image,
    .addjob-hero-image,
    .openings-hero-image,
    .insights-hero-image {
      transform: translateY(-15%)
    }

    .job-preview {
      min-height: 592px;
    }

    .job-preview > .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .pagination {
      font-size: 2rem;
      padding: 1.9375rem 0;
    }
}

@media screen and (min-width: 1200px) {
    #logo-title {
      font-size: 4em;
    }

    #logo {
      width: 120px
    }

    .nav {
      font-size: 1.75rem;
    }

    .nav-padding{
      padding: 0 1.5rem 1rem;
    }

    .hero-container {
      max-height: 600px;
    }

    .job-preview {
      min-height: 692px;
    }

    .note-hero-image {
      transform: translateY(-20%);
    }
}

@media screen and (min-width: 1400px) {

    .nav {
      font-size: 2rem;
    }

    .nav-padding{
      padding: 0 2rem 1rem;
    }

    .insights-hero-image,
    .openings-hero-image{
      transform:translateY(-20%)
    }

    .addjob-hero-image {
      transform:translateY(-25%)
    }

    .savedjobs-hero-image {
      transform:translateY(-10%)
    }

}

@media screen and (min-width: 1600px) {

    .note-hero-image,
    .openings-hero-image{
      transform:translateY(-25%)
    }

}

@media screen and (min-width: 1800px) {

    .note-hero-image,
    .addjob-hero-image,
    .openings-hero-image{
      transform:translateY(-30%)
    }

}

@media screen and (min-width: 2000px) {

    .openings-hero-image{
      transform:translateY(-28%)
    }

    .note-hero-image {
      transform: translateY(-40%);
    }

    .addjob-hero-image {
      transform:translateY(-35%)
    }

    .savedjobs-hero-image {
      transform:translateY(-20%)
    }

}

@media screen and (min-width: 2500px) {

    .openings-hero-image{
      transform:translateY(-33%)
    }

    .note-hero-image {
      transform: translateY(-50%);
    }

}

@media screen and (min-width: 2600px) {

  .openings-hero-image{
    transform:translateY(-35%)
  }

  .addjob-hero-image {
    transform:translateY(-39%)
  }

}

@media screen and (min-width: 3000px) {

  .openings-hero-image{
    transform:translateY(-37%)
  }

  .addjob-hero-image {
    transform:translateY(-42%)
  }

  .savedjobs-hero-image {
    transform:translateY(-25%)
  }

  .note-hero-image {
    transform: translateY(-52%);
  }
  
  .insights-hero-image {
    transform:translateY(-22%)
  }

}

@media screen and (min-width: 3500px) {

  .openings-hero-image{
    transform:translateY(-39%)
  }

  .insights-hero-image {
    transform:translateY(-25%)
  }

}

