<div class="surround mt-3 mb-3">
    <div class="card bg-offwhite">
        <header class="card-header head-with-toggle bg-brown border-bottom">
            <div class="d-flex justify-content-end">
                <!-- pin job toggle active only when logged in -->
                {% include '../components/pin-toggle.html' %} 
            </div>
            <div id="full-jobcard-heading">
                {% include '../layout/full-job-headings.html' %}
            </div>
            
        </header>

        <div class="card-body">
            {% if pinned %}
                <div id="note-shortcut" class="text-center mb-3">
                    <a href="#notes-section" class="btn btn-warning">To Notes Section</a>
                </div>
            {% endif %}
            <!-- Conditionals to account for some companies would not disclose a renumeration package -->
            <div class="mb-3">
                {% include '../components/salary-info.html' %}
            </div>
            
            <!-- Full job desription -->
            <section>
                <h3 class="mb-3 text-center">Full Details</h3>
                {{ job.job_description|safe }}
                
                <!-- Button to apply or exit job spec -->
                <div class="text-center">    
                    {% if user.is_authenticated %}
                        <a href="{% url 'job_list' %}" class="btn btn-secondary">Back to jobs</a>
                        <a href="{{ job.job_url }}" class="btn btn-success" target="_blank" rel="noopener" aria-label="Opens the source of the job posting in a new tab with details on how to apply.">Apply Now</a>
                    {% else %}
                        <a href="" class="btn btn-secondary disabled">Back to jobs</a>
                        <a class="btn btn-success" href="{% url 'account_login' %}">Login to Apply</a>
                    {% endif %}
                </div>
            </section>
        </div>
        
        <!-- Job expiry date and controls to edit or delete (visiable only to Admins) -->
        <div class="text-center card-footer bg-brown border-top">
            {% if user.is_staff %}
            {% csrf_token %}
                <p>Job Closing date - {{ job.date_expired }} </p>
                <a href="{% url 'edit_job' job.id %}" class="btn btn-success">Edit</i></a>
                <button class="btn btn-danger job-del-button" data-id="{{ job.id }}">Delete</button>
            {% endif %}
        </div>
    </div>
</div>
