<!-- Job card displaying breif info about a post -->
<div class="surround mb-4">
    <div class="card job-preview" data-job-preview="{{ job.id }}">

        <header class="card-header head-with-toggle bg-brown border-bottom d-flex justify-content-end">
            <!-- pin job toggle active only when logged in -->
            {% include '../components/pin-toggle.html' %}
        </header>

        <!-- Brief summary of the job destails, Job title, company, name, locations and slaray info -->
        <section class="card-body bg-pale-yellow">
            <h2 class="card-title text-center fw-bolder">{{ job.job_title }}</h2>
            <h3 class="card-subtitle text-muted text-center fw-bold">{{ job.company_name }}</h3>
            <h4 class="card-text text-center"> {{ job.location }} </h4>

            <!-- Conditionals to account for some companies would not disclose a renumeration package -->
            {% include '../components/salary-info.html' %}
            
            <div class="text-center">
                {% if user.is_authenticated %}
                    <a href="{% url 'job_details' job.id %}" class="btn btn-warning">Full Details</a>
                {% else %}
                    <a href="#" class="btn btn-warning disabled" >login/signup to view more details</a>
                {% endif %}
            </div>
        </section>

        <!-- Job expiry date and additional control for admin users -->
        <div class="text-center card-footer bg-brown border-top">
            <h4>Job Closing date - {{ job.date_expired }}</h4>
            {% if user.is_staff %}
                <a href="{% url 'edit_job' job.id %}" class="btn btn-success">Edit</a>
                <button class="btn btn-danger job-del-button" data-id="{{ job.id }}">Delete</button>
            {% endif %}
        </div>
    </div>
</div>
