<!-- Job card displaying breif info about a post -->
<div class="card mb-4 job-preview" data-job-preview="{{ job.id }}">

    <header class="card-header head-with-toggle bg-brown">
        <!-- pin job toggle active only when logged in -->
        {% include '../components/pin-toggle.html' %}
    </header>

    <!-- Brief summary of the job destails, Job title, company, name, locations and slaray info -->
    <section class="card-body">
        <h5 class="card-title">{{ job.job_title }}</h5>
        <h6 class="card-subtitle text-muted">{{ job.company_name }}</h6>
        <p class="card-text"> {{ job.location }} </p>

        <!-- Conditionals to account for some companies would not disclose a renumeration package -->
        {% if job.max_salary != null and job.min_salary != null%}
            <p class="card-text">{{ job.min_salary }} - {{ job.max_salary }} ({{ job.currency }})</p>
        {% elif job.min_salary == null and job.max_salary != null %}
            <p class="card-text">{{ job.max_salary }} ({{ job.currency }})</p>
        {% elif job.min_salary != null and job.max_salary == null %} 
            <p class="card-text">{{ job.min_salary }} ({{ job.currency }})</p>  
        {% else %}
            <p class="card-text">No Salary information disclosed</p>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'job_details' job.id %}" class="btn btn-primary">Full details</a>
        {% else %}
            <a href="#" class="btn btn-primary disabled" >login/signup to view more details</a>
        {% endif %}
    </section>
    <div class="text-center card-footer bg-brown">
        {% if user.is_staff %}
            <p>Job Closing date - {{ job.date_expired }}</p>
            <button class="btn btn-danger job-del-button" data-id="{{ job.id }}"><i class="fa-solid fa-trash-can"></i></button>
        {% endif %}
    </div>
</div>
