<!-- Form to make a note -->

{% include '../components/messages.html' %}
    <section class="card bg-offwhite">
        {% if user.is_authenticated %}
            <header class="card-header bg-brown">
                <!-- need to add user is the logged in user and job is pinned -->
                <h3>Make notes and track your progress:</h3>
            </header>
            <div class="card-body">
                <p>Signed in as: {{ user.username }}</p>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% for field in note_form %}
                        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field == note_form.is_insight %}
                                {% render_field field %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
                        </div>                        
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
        {% endif %}
        
    </section>
