<!-- Form to make a note -->
{% load crispy_forms_tags %}
<!-- Take from blog walkthrough to be adapted later and broken into components -->
    <!-- This is for the alert  -->
{% if note_made %}
    <div class="alert alert-success alert-dismissible fade show" id="msg" role="alert">
        Your comment is awaiting approval
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% else %}
    <div class="card">
        {% if user.is_authenticated %}
        <!-- need to add user is the logged in user and job is pinned -->
        <h3>Make a note and track your progress:</h3>
        <p>Leaving a note as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ note_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
        {% endif %}
    </div>