<!-- Form to make a note -->

<!-- Imports messages from class view -->
{% include '../components/messages.html' %}

<!-- Form for leaving job specific notes/insights -->
<div class="surround mb-3 mt-3">
    <section class="card bg-offwhite">
        {% if user.is_authenticated %}
            <header class="card-header bg-brown text-center">
                <h3>Make notes and track your progress:</h3>
            </header>
            <div class="card-body">
                <p class="text-center">
                    <a href="{% url 'tracking_instructions' %}">Note or Insight?</a>
                </p>
                <p>Signed in as: {{ user.username }}</p>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% for field in note_form %}
                        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field == note_form.is_insight %}
                                {% render_field field %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
                        </div>                        
                    {% endfor %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </section>
</div>
