{% if user.is_authenticated %}

    {% if request.user in job.is_pinned.all %}
        <div class="form-check form-switch">
            <input class="form-check-input pin" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked data-id="{{ job.id }}">
            <label class="form-check-label pin" for="flexSwitchCheckChecked"></label>
        </div> 
    {% else %}
        <div class="form-check form-switch">
            <input class="form-check-input pin" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-id="{{ job.id }}">
            <label class="form-check-label pin" for="flexSwitchCheckDefault"></label>
        </div> 
    {% endif %}

<!-- pin job toggle disabled when logged out -->
{% else %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
        <label class="form-check-label" for="flexSwitchCheckDisabled"></label>
    </div>
{% endif %}