<!-- Modal -->
<div class="modal fade modal-dialog-centered d-none" id="unpinned-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="unpinned-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unpinned-modal-label"><i class="fa-solid fa-triangle-exclamation"></i> Warning!</h5>
            <button type="button" class="btn-close cancel-unpin" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>By unpinning this post you will be deleting all its accosicated notes.</p>
            <p>Your insights will still be visible form the insights page.</p>
            <p>Are you Sure you Wish to Unpin this Jobpost?</p>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-unpin" data-bs-dismiss="modal">Cancel</button>
                <button id="conf-unpin-btn" type="button" class="btn btn-primary confirm-unpin">Unpin Job</button>
            </div>
        </div>
    </div>
</div>