<!-- Modal -->
<div class="modal fade modal-dialog-centered d-none" id="warningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="unpinned-modal-label" aria-hidden="true">
    <div class="modal-dialog surround">
        <div class="modal-content">
            <div class="modal-header bg-brown border-bottom">
                <h5 class="modal-title" id="warningModalLabel"><i class="fa-solid fa-triangle-exclamation"></i> Warning!</h5>
                <button type="button" class="btn-close cancel-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="warning-message" class="modal-body bg-pale-yellow">
                
            </div>
            <div id="warning-buttons" class="modal-footer bg-brown border-top">
                <button type="button" class="btn btn-secondary cancel-warning" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger accept-warning">Proceed</button>
            </div>
        </div>
    </div>
</div>