<footer>
    <footer>
        <ul class="social-media">
            <li>
                <a href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-facebook-f"></i
                ></a>
            </li>
            <li>
                <a href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-twitter"></i
                ></a>
            </li>
            <li>
                <a href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-youtube"></i
                ></a>
            </li>
            <li>
                <a href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-instagram"></i
                ></a>
            </li>
        </ul>
    </footer>
</footer>
