<footer class="bg-brown {% if not is_paginated %}border-top{% endif %}">
    <ul class="social-media">
        <li class="social-media-icon">
            <a class="text-cream" href="https://facebook.com" target="_blank" rel="noopener" aria-label=""
                ><i class="fab fa-facebook-f"></i
            ></a>
        </li>
        <li class="social-media-icon">
            <a class="text-cream" href="https://twitter.com" target="_blank" rel="noopener" aria-label=""
                ><i class="fab fa-twitter"></i
            ></a>
        </li>
        <li class="social-media-icon">
            <a class="text-cream" href="https://youtube.com" target="_blank" rel="noopener" aria-label=""
                ><i class="fab fa-youtube"></i
            ></a>
        </li>
        <li class="social-media-icon">
            <a class="text-cream" href="https://instagram.com" target="_blank" rel="noopener" aria-label=""
                ><i class="fab fa-instagram"></i
            ></a>
        </li>
    </ul>
</footer>

