<footer>
    <footer class="bg-brown">
        <ul class="social-media">
            <li class="social-media-icon">
                <a class="text-cream" href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-facebook-f"></i
                ></a>
            </li>
            <li class="social-media-icon">
                <a class="text-cream" href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-twitter"></i
                ></a>
            </li>
            <li class="social-media-icon">
                <a class="text-cream" href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-youtube"></i
                ></a>
            </li>
            <li class="social-media-icon">
                <a class="text-cream" href="" target="_blank" rel="noopener" aria-label=""
                    ><i class="fab fa-instagram"></i
                ></a>
            </li>
        </ul>
    </footer>
</footer>
