<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1645620701/jaguar-logo_tet8do.png" alt="Baby Jaguar logo" id="logo" class="d-inline-block">
            <span id="logo-title" class="navbar-brand mb-0 h1">J.A.G</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav justify-content-end collapse navbar-collapse" id="navbarNav">
            <li class="nav-item"><a href="" class="nav-link nav-padding">Sign up</a></li>
            <li class="nav-item"><a href="" class="nav-link nav-padding">Sign in</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-padding" href="#" id="jobsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  jobs
                </a>
                <ul class="dropdown-menu" aria-labelleby="jobsDropdown">
                    <li><a href="" class="dropdown-item">Open positions</a></li>
                    <li><a href="" class="dropdown-item">Saved jobs</a></li>
                    <li><a href="" class="dropdown-item">Notes</a></li>
                    <li><a href="" class="dropdown-item">Insights</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="" class="nav-link"></a></li>
        </ul>

    </div>
</nav>

