<!-- Hero image over add-job form -->
<div class="container-fluid g-0 hero-container p-0">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1651008748/ian-schneider-TamMbr4okv4-unsplash_1_1_tewlpl_iegbsd.jpg" class="img-fluid mob-hero-image" alt="Passion led us here written on the sidewalk">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922642/custom_resized_375c028f-5050-44ac-9934-c7082b102cfe_vhjkiv.jpg" class="ratio ratio-21x9 addjob-hero-image d-none" alt="Passion led us here written on the sidewalk">
</div>