<!-- Hero image over edit note form -->
<div class="container-fluid g-0 hero-container">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650997350/glenn-carstens-peters-RLw-UC03Gwc-unsplash_1_1_sjgu6j.jpg" class="img-fluid mob-hero-image" alt="Image of a hand making notes">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922639/glenn-carstens-peters-RLw-UC03Gwc-unsplash_ppglol_t5hfji.jpg" class="ratio ratio-21x9 note-hero-image d-none" alt="Image of a hand making notes">
</div>