<!-- Hero image over insights timeline -->
<div class="container-fluid g-0 hero-container">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650998524/jen-theodore-hbkWMj41Y0I-unsplash_1_maau8u.jpg" class="img-fluid mob-hero-image" alt="let your insights guide you. You are what you've have been looking for">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922640/insights_ygvr0b_hqwfxt.jpg" class="ratio ratio-16x9 insights-hero-image d-none" alt="let your insights guide you. You are what you've have been looking for">
</div>