<!-- To be displayed when a user tries to access a page meant for members only and they are not logged in -->
<div class="container">
    <div class="surround mt-3 mb-3">
        <div class="card text-center">
            
            <header class="card-header bg-brown">
                <h1>Members Only</h1>
            </header>
            
            <div class="card-body p-4">
                <a href="{% url 'job_list' %}" class="btn btn-primary btn-large mb-3">Back to Home</a>
                <figure class="text-center">
                    <figcaption>
                        <h2 class="mb-3">You Must be a Member to View this Page &#x1F60E;</h2>
                        <p>We would love to have you so why not <a href="{% url 'account_login' %}" aria-label="Login to you account">login</a> or <a href="{% url 'account_signup' %}" aria-label="register for the site">sign up?</a></p>
                    </figcaption>
                    <img id="jaguar" src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922639/jaguar-logo-left_y2p0od_ljgjhb.png" alt="Baby Jaguar mascot">
                </figure>
            </div>
            <!-- decorative only -->
            <div class="card-footer bg-brown"></div>
        </div>
    </div>
</div>
