<!-- Hero image over Job Openings -->
<div class="container-fluid g-0 hero-container">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1651008748/clark-tibbs-oqStl2L5oxI-unsplash_vcurlz_utjlt6.jpg" class="img-fluid mob-hero-image" alt="Neon sign saying Do something great">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922639/dream-job-unsplash_ijqhlz_pkphgh.jpg" class="d-none ratio ratio-21x9 openings-hero-image" alt="Neon sign saying Do something great">
</div>