<!-- Hero image over saved jobs page form -->
<div class="container-fluid g-0 hero-container">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1651000454/jo-szczepanska-5aiRb5f464A-unsplash_1_1_qbia51.jpg" class="ratio ratio-21x9 mob-hero-image" alt="Pin board image showing tracking of tasks">
    <img src="https://res.cloudinary.com/df4m8hva5/image/upload/v1650922640/jo-szczepanska-5aiRb5f464A-unsplash_nmmaco_di4vmq.jpg" class="ratio ratio-21x9 savedjobs-hero-image d-none" alt="Pin board image showing tracking of tasks">
</div>